<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lista</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/agregar-producto']">Agregar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <table >
        <thead>
          <th>id</th>
          <th>nombre</th>
          <th>precio</th>
          <th>cantidad</th>
        </thead>
        <tbody *ngFor="let p of productos; let indexArray = index">
          <td>{{p.id}}</td>
          <td>{{p.nombre}}</td>
          <td>{{p.precio}}</td>
          <td>{{p.cantidad}}</td>
          <td>
            <ion-button [routerLink]="['/eliminar-producto', p.id]" color="danger">
              <ion-icon name="trash"></ion-icon>
            </ion-button></td>
        </tbody>
      </table>
  </ion-list>
</ion-content>
